{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<style type="text/css">
	.logo img {
		float: left;
		width: 150px;
		height: 100px;
	}
</style>

<body>
	<header>
		<div class="main">
			<div class="logo">
				<img src="{% static 'image/logo.jpg' %}">
			</div>
			<ul>
				<li><a href="#">Services</a></li>
				<li><a href="http://127.0.0.1:8000/reg">Register</a></li>
				<li><a href="http://127.0.0.1:8000/login">Login</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>TRAVEL THE WORLD</h1>
		</div>
		<div class="button">
			<a href="https://www.travelsense.org/?gclid=CjwKCAiA-f78BRBbEiwATKRRBBO88zs5jCeszIstuYQ1_pUYsskNmTvvc_CJKTqifJCT21B3ISrPHxoCE6IQAvD_BwE"
				target="_blank" class="btn">Explore</a>
			<a href="https://www.youtube.com/channel/UC1GnFIRbU0KIqZuwB5pMqEw?view_as=subscriber" target="_blank"
				class="btn">Watch Video</a>
			<a href="http://127.0.0.1:8000/login" class="btn">Login</a>
		</div>
	</header>

</body>

</html>