{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <script type="text/javascript" src="{% static 'js/app.js' %}">

  </script>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="">
    <img src="{% static 'image/logo1.png' %}" alt="No Image" class="fullwidth">

  </div>

  <table class="fullwidth" border='1'>
    <thead class="darkhead">
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
      </tr>

    </thead>
    <tbody>
      {% for emp in employees %}
      <tr>
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
      </tr>


      {%endfor%}

    </tbody>
  </table>
  <br>
  <br>
  {% if employees.has_other_pages %}
  <ul class="pagination justify-content-left">
    {% if employees.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{employees.previous_page_number}}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
    {% endif %}
    {% for i in employees.paginator.page_range %}
    {% if students.number == i %}
    <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if employees.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ employees.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}
  <div class="button">
    <a href="http://127.0.0.1:8000/" class="btn">Home</a>
  </div>

</body>

</html>